body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

h1 {
 font-family: 'Poppins', sans-serif;
 color: #00252e;
 font-weight: 700;
 font-style: bolder;
 weight: 50%;
 margin-top: 100px;
 text-align: center;
}

p {
  color: #808d99;
  width: 40%;
  margin: 50px auto;
  text-align: center;
  font-size: 1.05rem;
}

a {
  color: #ffffff;
  text-decoration: none;
  margin: 10px 30px;
  font-size: 1.0rem;
}

.screen-mockup {
  margin: 20px 300px;
}
.footer {
  text-align: right;
  background-color: #00252e;
  margin-top: 200px;
margin-bottom: 0px;
padding-bottom: 100px;
padding-left: 100px;
padding-right: 100px;
}

.copyright {
  position: absolute;
}
.social-media {
  width: 20px;
  height: 20px;
}

.facebook {
  padding-top: 10px;
padding-bottom: 10px;
margin-top: 20px;
margin-left: 20px;
margin-right: 20px;
width: 20px;
}

.instagram {
  margin-left: 60px;
margin-right: 60px;
margin-top: 0px;
width: 20px;
}
.attribution {
  font-size: 11px; text-align: center;
}

    .attribution a {
      color: #3e52a3 hsl(228, 45%, 44%);
}
